/* Game Answer Card */
.answer-card {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.answer-content-card {
  display: inline-block;
  // width: 100%;
  justify-content: space-between;
}

.correct {
  background-color: #76ecbe;
}

.incorrect {
  background-color: #ff6a80;
}

.nocorrect {
  background-color: #fff;
}

.success {
  background-color: #008000;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: .3rem;
  font-weight: bold;
  outline: 0;
  margin: 0 5px 0 0;
}

.success:hover {
  cursor: pointer;
}

.success:active {
  cursor: pointer;
  background-color: #f0c;
  box-shadow: #008000 0 0 .5rem;
}

.danger {
  background-color: #ff0000;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: .3rem;
  font-weight: bold;
  outline: 0;
}

.danger:hover {
  cursor: pointer;
}

.danger:active {
  cursor: pointer;
  background-color: #f0c;
  box-shadow: #ff0000 0 0 .5rem;
}
